/* Add styled focus states on tab not hover */

:focus-visible {
  outline: 2px dotted var((--clr-primary-100), currentColor);
  outline-offset: 0.2em;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
