.contact {
  --bespoke-flow-spacer: calc(var(--spacer) * 2);

  padding-block-start: 4rem;
  padding-block-end: 4rem;
  background-color: var(--clr-primary-200);
  color: var(--clr-secondary-000);

  .sub-heading {
    font-size: var(--step--1);
    letter-spacing: 0.5em;
    text-transform: uppercase;
  }

  h2 {
    color: var(--clr-secondary-000);
  }
}
