// .contact-into {
//   margin-block-start: clamp(2.5rem, 15%, 5rem);
// }

.contact-intro,
.contact-form {
  @include respond-to("large") {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    // HACK to fix alignment on each section
    h2 + .contact-text,
    h2 + .form {
      margin-block-start: 0;
    }
  }
}
