.faq {
  --bespoke-flow-spacer: calc(var(--spacer) * 3);
  max-inline-size: 50rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-align: start;

  details > summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 1.5em;
    padding-block-end: 1.5em;
    border-block-start: 1px solid var(--clr-secondary-100);
    transition: color 300ms;
    list-style: none;
    font-weight: 500;
    color: var(--clr-secondary-300);
    cursor: pointer;

    &:hover h3 {
      color: var(--clr-primary-100);
    }

    &:hover svg path {
      stroke: #fa5959;
    }
  }

  details > p {
    padding-block-end: 1.5em;
    border-block-end: 1px solid var(--clr-secondary-100);
    line-height: 2;
  }

  details[open] > p {
    animation: sweep 300ms cubic-bezier(0, 0.26, 0.13, 1.55);
    will-change: opacity, transform;
  }

  details svg {
    // Optical adjust for chevron alignment
    margin-block-start: -2px;
    transition: transform 300ms ease-in-out;

    path {
      transition: stroke 300ms ease-in-out;
    }
  }

  details[open] svg {
    transform: rotate(180deg);

    path {
      stroke: #fa5959;
    }
  }

  .button {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
