// CHECK: does this need a refactor?

.form {
  --bespoke-flow-spacer: 2rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  inline-size: min(100%, 70ch);
  margin-inline-start: auto;
  margin-inline-end: auto;

  .input-wrapper {
    position: relative;
    flex: 9999 1 auto;
    min-inline-size: min(100%, 50ch);
    border-radius: 0.5em 0.5em 0 0;

    svg {
      position: absolute;
      display: none;
      inset-block-start: 50%;
      inset-inline-end: 1em;
      transform: translateY(-50%);
    }
  }

  input {
    inline-size: 100%;
    padding-block-start: 0.55em;
    padding-block-end: 0.55em;
    padding-inline-start: 1em;
    border: solid 2px var(--clr-secondary-000);
    border-radius: 0.5em;
    background-color: var(--clr-secondary-000);
  }

  .contact-button {
    flex: 1 0 auto;
  }

  .error-container {
    position: absolute;
    display: none;
    // inset-block-end: -1.65rem;
    inset-inline-start: 0;
    inset-inline-end: 0;
    min-block-size: 0.8em;
    padding: 0.15em;
    padding-inline-start: 1rem;
    border: solid 2px var(--clr-primary-100);
    border-radius: 0 0 0.5em 0.5em;
    background-color: var(--clr-primary-100);
    text-align: start;
  }

  .input-wrapper.error {
    background-color: var(--clr-primary-100);

    input {
      border: solid 2px var(--clr-primary-100);
    }

    svg {
      display: block;
    }

    .error-container {
      display: block;
    }
  }

  .error-message {
    font-size: var(--step--1);
    color: var(--clr-seconday-000);
  }
}
