.hero {
  --bespoke-gap: calc(var(--spacer) * 4);

  @include respond-to("medium") {
    flex-direction: row-reverse;

    .hero-text,
    .hero-image {
      flex-basis: 100%;
    }
  }

  h1 {
    @include respond-to("medium") {
      max-inline-size: 20ch;
    }
  }

  p {
    @include respond-to("medium") {
      max-inline-size: 50ch;
    }
  }

  .hero-image {
    > svg {
      max-inline-size: 100%;
      filter: drop-shadow(0 0.7px 2.2px rgba(0, 0, 0, 0.02))
        drop-shadow(1.7px 5.3px rgba(0, 0, 0, 0.028))
        drop-shadow(0 3.1px 10px rgba(0, 0, 0, 0.035))
        drop-shadow(0 5.6px 17.9px rgba(0, 0, 0, 0.042))
        drop-shadow(0 10.4px 33.4px rgba(0, 0, 0, 0.05))
        drop-shadow(0 25px 80px rgba(0, 0, 0, 0.07));
    }
  }

  .buttons {
    --bespoke-gap: calc(var(--spacer) * 1);
    flex-direction: row;
    margin-block-start: calc(var(--spacer) * 3);

    @include respond-to("medium") {
      justify-content: flex-start;
    }

    .button {
      flex: 1 1 auto;

      @include respond-to("medium") {
        flex: 0 1 auto;
      }
    }
  }
}
