.site-head {
  margin-block-start: max(4vh, 2rem);
}

.site-head__inner {
  --bespoke-gap: calc(var(--spacer) * 2.5);
  flex-direction: row;
}

.logo {
  max-inline-size: min-content;
}

.nav-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  a:not(.login) {
    display: block;
    transition: color 150ms;
    font-weight: 500;
    text-align: center;
    color: var(--clr-secondary-300);

    &:hover {
      color: var(--clr-primary-100);
    }
  }

  .login {
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
