.tabbed {
  --bespoke-flow-spacer: calc(var(--spacer) * 4);
}

[role="tablist"] {
  border-bottom: 2px solid var(--clr-secondary-200);

  @include respond-to("medium") {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

[role="tablist"] {
  li {
    display: inline-block;
  }

  a {
    text-transform: none;
    display: inline-block;
    padding: 1.5rem 3rem;
    color: var(--clr-secondary-200);
  }
}

[role="tablist"] [aria-selected] {
  color: var(--clr-secondary-300);
  border-bottom: 4px solid var(--clr-primary-100);
}

.tab-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: calc(var(--spacer) * 4);

  > .tab-text {
    --bespoke-flow-spacer: calc(var(--spacer) * 1);
    flex-basis: 100%;
  }

  > .tab-image {
    display: grid;
    flex-basis: 100%;

    // FIXME: svgs fucked as usual
    svg {
      justify-self: end;
      max-width: 100%;
    }
  }
}

@media (max-width: 550px) {
  .tab-wrapper {
    flex-direction: column-reverse;
  }

  [role="tablist"] li,
  [role="tablist"] a {
    display: block;
    position: static;
    border-top: 1px solid var(--clr-secondary-200);
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }
}
