.tabbed {
  --bespoke-flow-spacer: max(1rem, 3vh);
}

[role="tablist"] {
  display: flex;
  flex-direction: column-reverse;
  border-block-end: 1px solid var(--clr-secondary-100);

  @include respond-to("medium") {
    flex-direction: row;
    inline-size: fit-content;
    margin-inline: auto;
  }
}

[role="tablist"] {
  li {
    border-block-start: 0.5px solid var(--clr-secondary-100);

    @include respond-to("medium") {
      border-block-start: 0;
    }
  }

  a {
    display: inline-block;
    inline-size: 100%;
    min-inline-size: 18rem;
    padding: max(1rem, 1.5vh) 3rem;
    transition: color 150ms;
    text-align: center;
    text-transform: none;
    color: var(--clr-secondary-200);

    &:hover {
      color: var(--clr-primary-100);
    }
  }
}

[role="tablist"] [aria-selected] {
  border-block-end: 4px solid var(--clr-primary-100);
  color: var(--clr-secondary-300);
}

.tab-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: calc(var(--spacer) * 4);

  @include respond-to("medium") {
    flex-direction: row-reverse;
  }

  > .tab-text {
    --bespoke-flow-spacer: calc(var(--spacer) * 1);
    flex-basis: 100%;
  }

  > .tab-image {
    display: grid;
    flex-basis: 100%;

    svg {
      align-self: start;
      justify-self: end;
      max-inline-size: 100%;
    }
  }
}
