@font-face {
  font-family: "rubik";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: local("rubik-Regular"), url("../fonts/rubik-regular.ttf") format("truetype");
}

@font-face {
  font-family: "rubik";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: local("rubik-Bold"), url("../fonts/rubik-500.ttf") format("truetype");
}
