@import "reset";

/* ==================================================
  Global Styles
  ================================================== */

@import "abstracts/variables";
@import "abstracts/breakpoints";

/* Base Styles
   ================================================== */

@font-face {
  font-family: "rubik";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: local("rubik-Regular"), url("../fonts/rubik/rubik-regular.ttf") format("truetype");
}

@font-face {
  font-family: "rubik";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: local("rubik-Bold"), url("../fonts/rubik/rubik-500.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  font-family: "rubik", sans-serif;
  font-size: var(--step-0);
  font-weight: 400;
  text-align: center;
  color: var(--clr-secondary-200);

  @include respond-to("medium") {
    text-align: start;
  }
}

h1,
.h1 {
  font-size: var(--step-2);
  color: var(--clr-secondary-300);
}

h2,
.h2 {
  font-size: var(--step-1);
  color: var(--clr-secondary-300);
}

h3,
.h3 {
  font-size: var(--step-0);
  color: var(--clr-secondary-300);
}

a {
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

/* ==================================================
   Composition
   ================================================== */

@import "composition/align-content";

/* ==================================================
   Utilities
   ================================================== */

@import "utilities/container";
@import "utilities/flow-content";
@import "utilities/flow-section";
@import "utilities/full-width";
@import "utilities/intro";
@import "utilities/outline";
@import "utilities/skip-link";
@import "utilities/split";
@import "utilities/visually-hidden";

/* ==================================================
   Blocks
   ================================================== */

@import "blocks/button";
@import "blocks/site-head";
@import "blocks/burger-menu";
@import "blocks/hero";
@import "blocks/extensions";
@import "blocks/contact";
@import "blocks/site-foot";
@import "blocks/socials";
